:root {
  --color_black: #000;
  --color_red: #ce0118;
  --color_white: #ffffff;
  --border_color: #a4a4a4;
  --color_blue:#0175CE;
}

.color_red {
  color: var(--color_red) !important;
}

.color_white {
  color: var(--color_white) !important;
}

.color_black {
  color: var(--color_black) !important;
}

.color_blue {
  color: var(--color_blue) !important;
}

.bg_black {
  background-color: var(--color_black);
}

.bg_red {
  background-color: var(--color_red);
}

.red_white_gradient_bg {
  background: var(--color_red) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, var(--color_red)), to(var(--color_white))) !important;
  background: linear-gradient(90deg, var(--color_red) 52%, var(--color_white) 100%) !important;
}

.black_red_gradient_bg {
  background: var(--color_black) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, var(--color_black)), to(var(--color_red))) !important;
  background: linear-gradient(90deg, var(--color_black) 52%, var(--color_red) 100%) !important;
}

.black_red_gradient_bg_180 {
  background: #ce0118 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#ce0118), to(var(--color_black))) !important;
  background: linear-gradient(180deg, #ce0118 0%, var(--color_black) 100%) !important;
}

.black_red_gradient_bg_light {
  background: var(--color_red) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, #ce0118), to(#67010c)) !important;
  background: linear-gradient(90deg, #ce0118 52%, #67010c 100%) !important;
}

.border-1px {
  border: 1px solid #000;
}

.border-3px {
  border: 3px solid #000;
}

.border-4px {
  border: 4px solid #000;
}

.border_top_slim {
  border-top: 1px solid var(--border_color);
}

.border_top_fat {
  border-top: 3px solid var(--border_color);
}

.border_right_slim {
  border-right: 1px solid var(--border_color);
}

.border_right_fat {
  border-right: 3px solid var(--border_color);
}

.border_bottom_slim {
  border-bottom: 1px solid var(--border_color);
}

.border_bottom_fat {
  border-bottom: 3px solid var(--border_color);
}

.border_left_slim {
  border-left: 1px solid var(--border_color);
}

.border_left_fat {
  border-left: 3px solid var(--border_color);
}

.border_radius_0 {
  border-radius: 0px !important;
}

.border_radius_6 {
  border-radius: 6px !important;
}

.border_radius_20 {
  border-radius: 20px !important;
}

.border_top_right_radius_20 {
  border-top-right-radius: 20px !important;
}

.border_top_left_radius_20 {
  border-top-left-radius: 20px !important;
}

.border_bottom_right_radius_20 {
  border-bottom-right-radius: 20px !important;
}

.border_bottom_left_radius_20 {
  border-bottom-left-radius: 20px !important;
}

.border_top_right_radius_30 {
  border-top-right-radius: 30px !important;
}

.border_top_left_radius_30 {
  border-top-left-radius: 30px !important;
}

.border_bottom_right_radius_30 {
  border-bottom-right-radius: 30px !important;
}

.border_bottom_left_radius_30 {
  border-bottom-left-radius: 30px !important;
}

.border_top_right_radius_50 {
  border-top-right-radius: 50px !important;
}

.border_top_left_radius_50 {
  border-top-left-radius: 50px !important;
}

.border_top_right_radius {
  border-top-right-radius: 100px !important;
}

.border_top_left_radius {
  border-top-left-radius: 100px !important;
}

.border_bottom_right_radius {
  border-bottom-right-radius: 100px !important;
}

.border_bottom_left_radius {
  border-bottom-left-radius: 100px !important;
}

.border--red {
  border-color: var(--color_red) !important;
}

.border--black {
  border-color: var(--color_black) !important;
}

.border--white {
  border-color: var(--color_white) !important;
}

/**************************
        Typography
****************************/
@font-face {
  font-family: muliRegular;
  src: url(../font/Muli-VariableFont_wght.ttf);
}

@font-face {
  font-family: muliItalic;
  src: url(../font/Muli-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: muliBold;
  src: url(../font/Muli-Bold.ttf);
}

h1 {
  font-size: 94px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 31px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

.bold {
  font-family: muliBold;
}

/**************************
        Images
****************************/
img {
  max-width: 100% !important;
}

.hero_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.about_hero {
  background-image: url("../img/Group63.png");
}

.career_hero {
  background-image: url("../img/Group62.png");
}

/**************************
        Main CSS
****************************/
body {
  font-family: muliRegular !important;
  margin: 0px;
  padding: 0px;
}

.nav_active {
  color: var(--color_red) !important;
  border-bottom: 1px solid var(--color_red);
  margin-bottom: -1px;
}

.column-inner {
  margin: 0px 100px;
  min-width: 270px;
  min-height: 300px;
}

.column-inner .red-button:hover {
  background-color: var(--color_red);
  color: var(--color_white) !important;
}

.column-inner h4 {
  margin-bottom: 20px;
}

.column-inner ul {
  list-style: none;
  padding-left: 0px;
}

.height_517 {
  min-height: 517px;
}

.main_navigation {
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
}

.main_navigation .navbar-brand img {
  width: 200px;
}

.main_navigation .nav-link {
  margin: 0px 10px;
}

.main_navigation .nav-link:hover {
  color: var(--color_red) !important;
  border-bottom: 1px solid var(--color_red);
  margin-bottom: -1px;
}

.main_navigation .dropdown {
  float: left;
  overflow: hidden;
}

.main_navigation .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color_black);
  opacity: 0.9;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  margin-top: 80px;
}

.main_navigation .dropdown-hover:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .main_navigation .column {
    width: 100%;
    height: auto;
  }
}

.footer .column-inner p {
  font-size: 16px;
}

.footer .column-inner a {
  font-size: 16px;
}

#more {
  display: none;
}

.social_links {
  list-style-type: none;
  margin: 0px;
}

.social_links li {
  margin-left: 10px;
}

/**************************
        Jumbotrons
****************************/
.jumbotron {
  margin: 0px;
}

/**************************
        Gallery
****************************/
.photo_gallery {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "first second" "first fourth" "first fourth" "third fourth";
  grid-gap: 5px;
}

.gallery_column_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: first;
}

.gallery_column_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
}

.gallery_column_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: third;
}

.gallery_column_4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: fourth;
}

/* Gallery column overlay css */
.gallery_column img {
  vertical-align: middle;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.column_overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.column_overlay a {
  text-decoration: none;
}

.gallery_column:hover img {
  scale: 1.2;
}

.gallery_column:hover .column_overlay {
  visibility: visible;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
  background-color: var(--color_black);
  opacity: 0.9;
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services ul li {
  margin-top: 35px;
  color: var(--color_black);
  font-size: 20px;
}

.services .photography img {
  height: 100%;
  width: 100%;
  padding-top: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.services .photography .img_hover:hover img {
  scale: 1.2;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.services .photography .overlay_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 100%;
  z-index: 1;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .card_group {
  height: 500px;
}

.services .card_show:hover .card_hover {
  display: block !important;
}

.services .card_hover {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
  background-color: var(--color_red);
}

.team .personsData {
  z-index: 1;
  position: absolute;
  left: 0;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
  .photo_gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "first" "second" "third" "fourth";
  }
}

.about-image-gallery .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (7vw)[6];
      grid-template-rows: repeat(6, 7vw);
  grid-gap: 15px;
}

.about-image-gallery .gallery__item {
  margin: 0px;
}

.about-image-gallery .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-image-gallery .gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
}

.about-image-gallery .gallery__item--2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.about-image-gallery .gallery__item--3 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.about-image-gallery .gallery__item--4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 7;
}

.about-image-gallery .gallery__item--5 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 9;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 7;
}
